.project-tile {
    border-radius: var(--chakra-radii-md);
    padding: var(--chakra-space-6);
    background-color: var(--chakra-colors-grey-200);
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    height: 20vh; /* Додайте цей рядок */
}

.project-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-image-container {
    display: flex;
    align-items: center;
    width: 20%; /* Зменшіть ширину */
}

.project-image {
    width: 70%;
    margin-left: 2vh;
}

.project-info {
    width: 80%; /* Збільшіть ширину */
    padding: var(--chakra-space-4);
    font-family: var(--chakra-fonts-body);
    background-color: var(--chakra-colors-grey-300);
    border-radius: var(--chakra-radii-md);
}

.project-info h3 {
    margin-bottom: var(--chakra-space-4);
}

.project-checkbox {
    transform: scale(1.8);
    border-color: var(--chakra-colors-grey-400);
}

.project-info h3 {
    color: var(--chakra-colors-grey-700);
    font-weight: bold;
    margin-bottom: var(--chakra-space-2);
}

.project-info .date, .project-info .street, .project-info .budget {
    color: var(--chakra-colors-grey-700) !important;
    margin-bottom: var(--chakra-space-1) !important;
}

.budget {
    font-weight: bold;
}

.project-info .description {
    color: var(--chakra-colors-grey-600) !important;
    font-style: italic !important;
}