.expenses-content {
    font-size: var(--chakra-fontSizes-lg) !important;
    color: var(--chakra-colors-grey-900);
    line-height: 1.5;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.expenses-box {
    font-size: var(--chakra-fontSizes-md);
    color: var(--chakra-colors-grey-900);
    line-height: 1.5;
    background-color: var(--chakra-colors-grey-400);
    border-radius: var(--chakra-radii-2xl);
    padding: var(--chakra-space-10);
    margin-top: var(--chakra-space-4);
    margin-left: var(--chakra-space-4);
    margin-right: var(--chakra-space-4);
}

.table-content {
    font-size: var(--chakra-fontSizes-lg);
    font-family: var(--chakra-fonts-body) !important;
}

.checkbox {
    scale: 1.5;
    padding: 1.5vh;
    border-color: var(--chakra-colors-grey-700);
}

.checkbox:hover {
    border-color: var(--chakra-colors-grey-200);
    color: var(--chakra-colors-grey-900) !important;
}

.select-column {
    width: 30px;
}

.table-header {
    font-family: var(--chakra-fonts-body) !important;
    font-size: var(--chakra-fontSizes-xl) !important;
    font-weight: bold !important;
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--chakra-fonts-body) !important;
    color: var(--chakra-colors-grey-900) !important;
    background-color: var(--chakra-colors-grey-300) !important;
    border: 5px solid var(--chakra-colors-grey-600) !important;
}

.expenses-table th {
    background-color: var(--chakra-colors-grey-500) !important;
    color: var(--chakra-colors-grey-50) !important;
    font-size: var(--chakra-fontSizes-xl) !important;
    font-weight: bold !important;
    padding: var(--chakra-space-2) !important;
    text-align: left !important;
    height: 5vh;
}

.expenses-table td {
    padding: var(--chakra-space-2);
    font-size: var(--chakra-fontSizes-lg);
    border-bottom: 1px solid var(--chakra-colors-grey-600);
    position: relative;
}

.expenses-table tr:nth-child(even) {
    background-color: var(--chakra-colors-grey-100);
}

.expenses-table tr:hover {
    background-color: var(--chakra-colors-grey-400);
    cursor: pointer;
}

.expense-icon {
    margin-right: 28px;
}

.expense-name {
    font-size: var(--chakra-fontSizes-2xl);
}

.expense-price {
    font-size: var(--chakra-fontSizes-2xl);
    font-weight: bold;
}

.expense-type {
    font-size: var(--chakra-fontSizes-2xl);
}